# Database
DB_URL=jdbc:postgresql://localhost:5432/online_clipboard
DB_USERNAME=postgres
DB_PASSWORD=change_me

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=change_me

# Cloudinary
CLOUDINARY_CLOUD_NAME=change_me
CLOUDINARY_API_KEY=change_me
CLOUDINARY_API_SECRET=change_me

# Application security
APP_SECRET_KEY=change_me_to_a_16_or_32_byte_key
