@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", sans-serif;
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cbd5e1; /* slate-300 */
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; /* slate-500 */
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff; /* white */
  color: #0f172a; /* slate-900 */
}

/* Remove blue selection, make it neutral */
::selection {
  background-color: #e2e8f0; /* slate-200 */
  color: #0f172a;
}